<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/login.css">
    <title></title>
</head>
<body>
    <main class="container">
        <form>
            <h1>Pizzaria</h1>
            <div class="input-box">
                <input placeholder="Usuário"> 
                <i class="bx bxs-user"></i>
            </div>
             <div class="input-box">
                <input placeholder="Senha" type="password">
                <i class="bx bxs-lock-alt"></i>
            </div>

            <button type="button" class="login">Entrar</button>
        </form>
    </main>

<script src="{{ url_for('static', filename='script_login.js') }}"></script>
</body>
</html>