<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<div class="container">

    <h1>Bamboo Slice 🍕</h1>
    <p>Escolha uma opção</p>

    <div class="menu">
        <a href="/pedido">Fazer Pedido com chatbot AtrIA</a>
        <a href="/login-page">Área Funcionários</a>
    </div>

</div>

</body>
</html>